# NuGet package source used during Docker build
NUGET_SOURCE=https://package-mirror.liara.ir/repository/nuget/index.json

# Initial administrator
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeThisProductionPassword